streamlit
streamlit-option-menu
langchain
langchain-groq
langchain-huggingface
langchain-text-splitters
langchain-community
huggingface-hub
sentence-transformers
torch
python-dotenv
faiss-cpu
PyPDF2
